<div class="comic-footer-wrapper">
  <footer class="comic-footer-main">
      <div class="comic-footer-container">

          <div class="comic-footer-section comic-footer-brand">
              <h2 class="comic-footer-logo">Comic<span class="comic-footer-logo-span">Verse</span></h2>
              <p class="comic-footer-description">Your multiverse of epic comics, iconic characters & timeless stories. Dive into the bold, the bizarre, and the brilliant!</p>
          </div>

          <div class="comic-footer-section comic-footer-links">
              <h3 class="comic-footer-heading">Explore</h3>
              <ul class="comic-footer-list">
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Home</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Comics</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Characters</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Favourites</a></li>
              </ul>
          </div>

          <div class="comic-footer-section comic-footer-about">
              <h3 class="comic-footer-heading">About</h3>
              <ul class="comic-footer-list">
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Our Mission</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Creators</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Contact</a></li>
                  <li class="comic-footer-list-item"><a href="#" class="comic-footer-link">Join Us</a></li>
              </ul>
          </div>

          <div class="comic-footer-section comic-footer-social">
              <h3 class="comic-footer-heading">Follow Us</h3>
              <div class="comic-footer-social-icons">
                  <a href="#" class="comic-footer-social-link"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="comic-footer-social-link"><i class="fab fa-x-twitter"></i></a>
                  <a href="#" class="comic-footer-social-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="comic-footer-social-link"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#" class="comic-footer-social-link"><i class="fab fa-youtube"></i></a>
              </div>
          </div>

      </div>

      <div class="comic-footer-bottom">
          © 2025 ComicVerse. All rights reserved to © OmanadhaReddy. Powered by fans, for fans.
      </div>
  </footer>
</div>


    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&family=Rampart+One&family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
