
<nav class="comic-navbar">
  <div class="logo">Comic<span>Verse</span></div>

  <div class="nav-links">
    <a (click)="toHome()">Home</a>
    <a>Popular</a>
    <a (click)="toFavourites()">Favourites</a>
    <a (click)="toHeros()">Heros</a>
  </div>

  <div class="nav-actions">
    <input type="text" placeholder="Search comics..." class="search-bar" [(ngModel)]="searchText"/>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZJsWi_Lp39eb2B-O9Hmjic-ctmLOh2tsP_A&s" alt="User" class="profile-pic" />
  </div>
</nav>
<div *ngIf="isLoading" class="skeleton-wrapper">
  <app-skeleton-loader
    *ngFor="let i of [1,2,3,4,5,6,7]"
    width="160px"
    height="240px"
    borderRadius="6px">
  </app-skeleton-loader>
</div>
<div class="comic-grid">
  <div class="comic-card" *ngFor="let comic of comicList | filter:searchText" (click)="toOverView(comic)">
    <div class="loading-bar" *ngIf="!comic.loaded">
      <div class="loading-bar-element"></div>
    </div>
    <img [src]="comic.cover" [alt]="comic.title" loading="lazy" [hidden]="!comic.loaded"
    (load)="comic.loaded = true"/>
  </div>
</div>
<app-footer></app-footer>

