<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<nav class="navbar-over">
  <div class="top-row-over">
    <div class="left-profile-over">
      <i class="fa fa-user-circle icon-over"></i>
      <span class="username-over" (click)="toAcc()">NANDHA</span>
    </div>
    <div class="center-logo-over">
     COMIC VERSE
    </div>
    <div class="right-actions-over">
      <div class="subscribe-over">
        <span class="subscribe-text-over">COMIC UNLIMITED<br><strong>VERSE</strong></span>
      </div>
      <i class="fa fa-search icon-over" (click)="toNew()"></i>
    </div>
  </div>
  <div class="bottom-row-over">
    <a class="nav-link-over" (click)="toHome()">HOME</a>
    <a class="nav-link-over" (click)="toNavigate()">POPULAR</a>
    <a class="nav-link-over" (click)="toHeroes()">HEROS</a>
    <a class="nav-link-over" (click)="toFav()">FAVOURITS</a>
  </div>
</nav>
<div class="overview-bg-wrapper-over" *ngIf="detailCard" [ngStyle]="{'background-image': 'url(' + detailCard.cover + ')'}">

  <div class="overview-card-over">
    <div class="cover-image-over">
      <img [src]="detailCard.cover" alt="{{ detailCard.title }}" class="image-over"/>
    </div>

    <div class="details-over">
      <h1 class="comic-title-over">{{ detailCard.title }}</h1>

      <div class="detail-meta-over">
        <div><strong>Publisher:</strong><br> {{ detailCard.publisher }}</div>
        <div><strong>Writer:</strong><br> {{ detailCard.writer }}</div>
        <div><strong>Penciller:</strong><br> {{ detailCard.penciler }}</div>
      </div>

      <div class="detail-description-over">
        {{ detailCard.lore }}
        <br />
        <button class="fav-btn-over" (click)="addToFav(detailCard)">Add to Favorites</button>
      </div>
    </div>
  </div>
</div>
<h2 class="recommended-title-over">Recommended Series</h2>
<div class="recommended-container-over">
  <div *ngFor="let comic of recommendedComics" class="recommended-card-over" (click)="toOver(comic)">
    <img [src]="comic.cover" class="recommended-img-over" alt="{{ comic.title }}">
    <div class="recommended-title">{{ comic.title }}</div>
    <div class="recommended-year">({{ comic.year || '----' }})</div>
  </div>
</div>
<app-footer></app-footer>