<div class="comic-carousel-wrapper">

  <h2 class="comic-carousel-section-title">Trending Comics</h2>
  <div class="comic-carousel-section">
    <button class="comic-carousel-nav-btn comic-carousel-nav-left" (click)="scrollLeft(trendingScroll)">&#10094;</button>

    <div class="comic-carousel-scroll-container" #trendingScroll>
      <div *ngIf="isLoad" class="skeleton-wrapper-home">
        <app-skeleton-loader
          *ngFor="let i of [1,2,3,4,5,6,7,8,9]"
          width="160px"
          height="240px"
          borderRadius="6px">
        </app-skeleton-loader>
      </div>
      <div class="comic-carousel-comic-card" *ngFor="let comic of trendingComics" (click)="showComic(comic)">
        <img class="comic-carousel-cover-img" [src]="comic?.cover" [alt]="comic?.title" loading="lazy" />
        <h4 class="comic-carousel-comic-title">{{ comic?.title }}</h4>
      </div>
    </div>

    <button class="comic-carousel-nav-btn comic-carousel-nav-right" (click)="scrollRight(trendingScroll)">&#10095;</button>
  </div>

  <h2 class="comic-carousel-section-title">Originals</h2>
  <div class="comic-carousel-section">
    <button class="comic-carousel-nav-btn comic-carousel-nav-left" (click)="scrollLeft(originalScroll)">&#10094;</button>

    <div class="comic-carousel-scroll-container" #originalScroll>
      <div *ngIf="isLoad" class="skeleton-wrapper-home">
        <app-skeleton-loader
          *ngFor="let i of [1,2,3,4,5,6,7,8,9]"
          width="160px"
          height="240px"
          borderRadius="6px">
        </app-skeleton-loader>
      </div>
      <div class="comic-carousel-comic-card" *ngFor="let comic of originalComics" (click)="showComic(comic)">
        <img class="comic-carousel-cover-img" [src]="comic.cover" [alt]="comic.title" loading="lazy" />
        <h4 class="comic-carousel-comic-title">{{ comic.title }}</h4>
      </div>
    </div>

    <button class="comic-carousel-nav-btn comic-carousel-nav-right" (click)="scrollRight(originalScroll)">&#10095;</button>
  </div>

  <h2 class="comic-carousel-section-title">UpComing Comics</h2>
  <div class="comic-carousel-section">
    <button class="comic-carousel-nav-btn comic-carousel-nav-left" (click)="scrollLeft(upcomingScroll)">&#10094;</button>

    <div class="comic-carousel-scroll-container" #upcomingScroll>
      <div *ngIf="isLoad" class="skeleton-wrapper-home">
        <app-skeleton-loader
          *ngFor="let i of [1,2,3,4,5,6,7,8,9]"
          width="160px"
          height="240px"
          borderRadius="6px">
        </app-skeleton-loader>
      </div>
      <div class="comic-carousel-comic-card" *ngFor="let comic of upcomingComics" (click)="showComic(comic)">
        <img class="comic-carousel-cover-img" [src]="comic.cover" [alt]="comic.title" loading="lazy" />
        <h4 class="comic-carousel-comic-title">{{ comic.title }}</h4>
      </div>
    </div>

    <button class="comic-carousel-nav-btn comic-carousel-nav-right" (click)="scrollRight(upcomingScroll)">&#10095;</button>
  </div>

  <div class="comic-carousel-popup-wrapper" *ngIf="selectedComic">
    <div class="comic-carousel-popup-content">
      <div>
      <button class="comic-carousel-close-btn" (click)="selectedComic = null">X</button>
      <h2 class="comic-carousel-popup-title">{{ selectedComic.title }}</h2>
      <p class="comic-carousel-popup-desc">{{ selectedComic.desc }}</p>
      <p class="comic-carousel-popup-publisher">{{ selectedComic.publisher }}</p>
      <button class="comic-carousel-add-btn" (click)="addToFavourites()">Add To Favourites</button>
      </div>
      <div>
        <img class="comic-carousel-cover-pop-img" [src]="selectedComic.cover" [alt]="selectedComic.title" loading="lazy"  (click)="toOverViewPage(selectedComic)">
      </div>
    </div>
   
  </div>
</div>
